.header{
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 36px; 
}

.container{
    display: flex; 
    justify-content: center;
}

#grid{
    margin: 5vw; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: end;
    width: 30vw;
    border-style: solid; 
    border-color: black;
}

.pixel{
    background-color: red;
    border: none;
}